* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.body{
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* .homeContainer */
.homeContainer{
    position: absolute;
    /* border: 2px solid; */
    width: 30%;
    height: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display :flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(240, 230, 215); */
    background-color: #2a313d;
    box-shadow: 0px 8px 10px -2px rgb(34, 38, 46);
    transition: 1s;
    
}

/* contentBx */
.homeContainer .contentBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.8s;

}

.homeContainer:hover {
    /* transform:scale(1.5) translate(-75%,0%); */
    width:40%;
    height:40%;
}

.homeContainer:hover .contentBx{
    /* top: 40%;
    transform: translateY(-50%); */
    opacity: 0;
    visibility: hidden;
}

.homeContainer h1{
     font-size:250%;
     color: rgb(240, 230, 215);
}

/* infoBx */
.homeContainer .infoBx{
    position: absolute;
    top: 110%;
    transform: translateY(-50%);
    opacity:0;
    visibility: hidden;
    transition: 1s;

}

.homeContainer:hover .infoBx{
    opacity:1;
    visibility:visible;
    transition-delay:0.2s;
    /* top: 60.5%; */
    top:72%;
    transform:translateY(-50%);
}

.homeContainer .infoBx p{
    padding-bottom: 10px;
    color: rgb(240, 230, 215);
}



.socials{
    text-align: center;
    font-size: 17.5px;
}

.socials a{
    padding: 0px 10px;
    color: rgb(240, 230, 215);
}


.hidden{
    position: absolute;
    top:150%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;
    opacity:0;
    visibility:visible;
    transition: 0.8s;
    font-size:75%;
}

#linkedin-av:hover + #linkedin, #resume-av:hover + #resume, 
#github-av:hover + #github, #projects-av:hover + #projects{
    opacity:1;
    visibility:visible;
    /* color:rgb(223, 172, 35); */
    color: rgb(240, 230, 215);
}




#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	/* background-color: #ffbd7f; */
    background-color: rgb(240, 230, 215);
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

#avatar{
    
    position: absolute;
    top:-50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:30%;
    height:40%;
    /* background-image:url("IMG_9402.JPG"); */
    /* background-size: cover; */
    border:3.5px solid rgb(240, 230, 215);
    opacity:0;
    visibility: hidden;
    transition: 1s
}

#avatar img{
    width:100%;
    height:100%;
}

.homeContainer:hover #avatar{
    top:37.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:25%;
    height:45%;
    transition-delay: 0.2s;
    opacity: 1;
    visibility: visible;
}

.projectsContainer{
    position: absolute;
    /* border: 2px solid; */
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(240, 230, 215);
    border: 5px solid #2a313d;
    /* background-color: #2a313d; */
    box-shadow: 0px 8px 10px -2px rgb(34, 38, 46);
    transition: 1s;
    animation: h-load 0.6s ease-out;  
    animation-fill-mode: forwards;
    
}

#item1, #item2, #item3, #item4{
    border: 1px solid red;
}

/* #test{
    animation: h-load 0.8s ease-in 0.2s;
    opacity: 0;  
    animation-fill-mode: forwards;
}*/

@keyframes h-load{
    0%{
        /* width:30%;
        height: 25%; */
    }

    100%{
        width: 50%;
        height: 80%;
    }
} 

@media (max-width:1100px){
    .homeContainer{
        width:75%;
    }
    .homeContainer h1{
        font-size: 225%;
    }
    .infoBx p{
        font-size: 80%;
    }
    .socials{
        font-size: 14px;
    }
    .homeContainer:hover {
        /* transform:scale(1.5) translate(-75%,0%); */
        width:75%;
        /* height:40%; */
    }

    .homeContainer:hover #avatar{
        top:37.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:30%;
        height:45%;
        transition-delay: 0.2s;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width:600px) and (min-width:0px){
    .homeContainer{
        width:75%;
    }
    .homeContainer h1{
        font-size: 225%;
    }
    .infoBx p{
        font-size: 80%;
    }
    .socials{
        font-size: 14px;
    }
    .homeContainer:hover {
        /* transform:scale(1.5) translate(-75%,0%); */
        width:75%;
        /* height:40%; */
    }

    .homeContainer:hover #avatar{
        top:37.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:50%;
        height:45%;
        transition-delay: 0.2s;
        opacity: 1;
        visibility: visible;
    }
}

























/* .homeContainer .infoBx .socials{
    
} */

/* .homeContainer .infoBx .socials ul {
    list-style: none;
    text-align: center;
}

.homeContainer .infoBx .socials li {
    display: inline;
    padding: 0px 10px;
    font-size: 17.5px;
} */



/* .socials ul li:hover:nth-child(1) ~ #linkedin{
    display:block;
    
}
.socials ul li:hover:nth-child(2) ~ #github{
    display:block;
    
}
.socials ul li:hover:nth-child(3) ~ #resume{
    display:block;
    
}
.socials ul li:hover:nth-child(4) ~ #projects{
    display:block;
    
}

.hidden{
    position:absolute;
    top:110%;
    left:39.25%;
    transform: translate(-50% 0%);
    display:none;
} */